{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestão PRS{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/public-style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    

</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="nav-brand">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo-gestao-prs.svg' %}" alt="GESTÃO-PRS" class="logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-link">About</a>
                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                <a href="{% url 'login' %}" class="nav-link login-btn">Login</a>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
    

    
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>